{% extends "include/flasher.jinja2" %}

{% block deploy_target %}
{{ super() }}
{% endblock deploy_target %}

{% block context %}
  lava_test_results_dir: /home/lava-%s
  test_character_delay: 10
{% endblock context %}
