{% extends "master.jinja2" %}

{% set use_context = true %}
{% set DOCKER_IMAGE_DEPLOY = DOCKER_IMAGE_DEPLOY|default("debian:buster") %}
{% set DOCKER_IMAGE_POSTPROCESS = DOCKER_IMAGE_POSTPROCESS|default("debian:buster") %}
{% set IMAGE_FILE_NAME = IMAGE_FILE_NAME|default("rootfs.tar.gz") %}
{% set pre_boot_command = pre_boot_command|default(false) %}
{% set pre_power_command = pre_power_command|default(false) %}
{% set pre_os_command = pre_os_command|default(false) %}
{% set auto_login = auto_login|default(true) %}
{% set boot_method = boot_method|default("minimal") %}
{% set use_download_headers = use_download_headers|default(false) %}

{% set download_postprocess_required = download_postprocess_required|default(true) %}

{% set DEPLOY_TARGET = DEPLOY_TARGET|default("flasher") %}

{% block actions %}
{% block deploy_target %}

{% if enable_tests is defined and enable_tests %}
{% set apply_overlay = "rootfs" %}
{% endif %}

- deploy:
    timeout:
      minutes: {{ target_downloads_timeout }}
    to: downloads
    images:
      flasher:
        url: {{ ROOTFS_URL }}
{% if use_download_headers %}
        {% include PROJECT+"include/auth-header.jinja2" %}
{% endif %}
{% if download_postprocess_required == true %}
    postprocess:
      docker:
        image: {{DOCKER_IMAGE_POSTPROCESS}}
        local: true
{% include "include/postprocess.jinja2" %}
{% endif %}
- deploy:
    timeout:
      minutes: {{ target_deploy_timeout }}
    to: {{ DEPLOY_TARGET }}
    images:
      image:
        url: downloads://{{ IMAGE_FILE_NAME }}
{% if download_postprocess_required == true %}
{# flash.settings file is generated by postprocess commands #}
      settings:
        url: downloads://flash.settings
{% endif %}
{% if apply_overlay is defined and apply_overlay == "rootfs" %} 
      overlay:
        url: downloads://overlay.tar.gz 
{% endif %}
{% endblock deploy_target %}

{% block pre_boot_command %}
{% include "include/boot_target/pre_boot_commands.jinja2" %}
{% endblock pre_boot_command %}

{% block boot_target %}
- boot:
{% block boot_commands %}
{% endblock boot_commands %}
{% if auto_login == true %}
{% include "include/boot_target/auto_login.jinja2" %}
{% block auto_login_commands %}
{% include "include/boot_target/auto_login_commands.jinja2" %}
{% endblock auto_login_commands %}
{% endif %}
{% include "include/boot_target/boot_target.jinja2" %}
{% endblock boot_target %}

{% block post_boot_command %}
{% include "include/boot_target/post_boot_command.jinja2" %}
{% endblock post_boot_command %}

{{ super() }}

{% endblock actions %}
