        steps:
        - export IMAGE_PATH=$PWD
{% if apply_overlay is defined and apply_overlay == "rootfs" %} 
        - cp overlay*.tar.gz overlay.tar.gz
        - echo "OVERLAY=overlay.tar.gz" >> $IMAGE_PATH/flash.settings
        - echo "OVERLAY_PATH=/home/" >> $IMAGE_PATH/flash.settings
{% endif %}
        - echo "DEVICE_TYPE={{device_type}}" >> $IMAGE_PATH/flash.settings
        - cat $IMAGE_PATH/flash.settings 
