name: Run tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.12']

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version}}

      - name: Install deps
        run: |
         python -m pip install --upgrade pip
         pip install black
         pip install flit
         pip install tuxpkg
         pip install py
         pip install pytest==8.4.2
         pip install pytest-cov
         pip install pytest-parallel
         export FLIT_ROOT_INSTALL=1
         flit install --symlink

      - name: Linting
        run: |
         make style

      - name: run unittest
        run: |
         make test
